/* typography */
@font-face {
	font-family:'Source Sans Pro';
	font-style:normal;
	font-weight:400;
	src:local('Source Sans Pro'),local('SourceSansPro-Regular'),url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
@font-face {
	font-family:'Source Sans Pro';
	font-style:normal;
	font-weight:600;
	src:local('Source Sans Pro Semibold'),local('SourceSansPro-Semibold'),url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format('woff');
}
@font-face {
	font-family:'Source Sans Pro';
	font-style:normal;
	font-weight:700;
	src:local('Source Sans Pro Bold'),local('SourceSansPro-Bold'),url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format('woff');
}
@font-face {
	font-family:'Source Code Pro';
	font-style:normal;
	font-weight:400;
	src:local('Source Code Pro'),local('SourceCodePro-Regular'),url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/mrl8jkM18OlOQN8JLgasDxM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
@font-face {
	font-family:'Source Code Pro';
	font-style:normal;
	font-weight:700;
	src:local('Source Code Pro Bold'),local('SourceCodePro-Bold'),url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/leqv3v-yTsJNC7nFznSMqVkQc6VGVFSmCnC_l7QZG60.woff) format('woff');
}

/* omnis */
.c>div,input,select,.btn {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
input[type="checkbox"],input[type="radio"],.btn,[type="submit"],select {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
.eo,li div,li,#tltp>* {
	-webkit-transition:all ease-out .12s;
	transition:all ease-out .12s;
}


/* main */
html,body {
	margin:0;
}
body {
	color:#1a1a1a;
	font-family:source sans pro,lucida sans,helvetica neue,helvetica,sans-serif;
	line-height:1.4;
}
body>div {
	margin:0 auto;
}
.c,.c+div {
	display:inline-block;
	vertical-align:top;
}
.c:not(:first-child) {
	margin-left:1em;
}
.c>div,h1,h3,thead,.tb-set,.tb-set li {
	border:solid 1px #d6d6d6;
}
h1,h3 {
	border-width:0 0 1px;
}
thead {
	border-width:1px 0;
}
.c>div {
	margin:1em auto;
	background-color:#fafafa;
	padding:0 32px 32px;
	position:relative;
}
.c>div:first-child {
	margin:3em auto 1em;
}
.c>div :last-child {
	margin-bottom:0!important;
}
h1,h3 {
	background-color:#ebebeb;
}
h1 {
	margin:0px -32px 32px!important;
	padding:8px;
}
h3 {
	margin:0 -32px 16px;
	padding:8px 32px;
	font-weight:600;
}
h1,h2 {
	margin:8px 0 4px;
	line-height:1;
	font-weight:lighter;
}
h4 {
	margin:1.2em 0 .4em;
	text-transform:uppercase;
	font-size:11pt;
}
#tltp {
	display:block;
	float:right;
	width:32px;
	height:32px;
	box-shadow:inset 0 0 0 1px #69af98;
	-webkit-border-radius:16px;
	border-radius:16px;
}
#tltp:focus,#tltp:active {
	outline:none;
}
#tltp>* {
	position:fixed;
	opacity:0;
	color:#1a1a1a;
	text-align:justify;
	font-size:12pt;
}
#tltp:hover *,#tltp:focus * {
	opacity:1;
}
#tltp div:not(:first-child) {
	padding:1em;
	width:200px;
	top:3em;
	right:1em;
	border:solid 1px #ebebeb;
	background-color:#fafafa;
	line-height:1.4;
}
#tltp p {
	margin:0;
}
#tltp>div:first-child {
	top:8px;
	left:48px;
	border:solid 8px transparent;
	border-right-color:#ebebeb;
}
body>div>div h1 span:first-child {
	color:rgba(0,0,0,.6);
	letter-spacing:-1px;
}
body>div>div h1 span:not(:first-child) {
	font-weight:700;
}
form {
	margin:0;
}
label {
	display:block;
	margin:0 0 6px;
}
input {
	-webkit-appearance:none;
	appearance:none;
}
input:not([type="radio"]):not([type="checkbox"]),select,.btn {
	display:block;
	margin:0 0 1em;
	padding:4px;
	width:100%;
	border:solid 1px #ebebeb;
	font-family:inherit;
	box-shadow:0 0 0 0 rgba(117,195,170,0.2);
	-webkit-transition:box-shadow ease-out .2s,border ease-out .2s;
	-moz-transition:box-shadow ease-out .2s,border ease-out .2s;
	transition:box-shadow ease-out .2s,border ease-out .2s;
}
input:not([type="radio"]):not([type="checkbox"]):focus,select:focus,.btn:focus {
	outline:none;
	border-color:#69af98;
	box-shadow:0 0 0 2px rgba(122,204,178,.2);
}
input.n:not([type="radio"]):not([type="checkbox"]):focus,select.n:focus,.btn.n:focus {
	box-shadow-color:rgba(204,91,61,.2);
}
select {
	height:32px;
	background:#fff url('img/s.svg') calc(100% + 148px) -56px no-repeat;
}
select:hover {
	background-position:calc(100% + 148px) -79px;
}
select:active {
	background-position:calc(100% + 148px) -102px;
}
.btn,[type="submit"],#tltp {
	color:#fff;
	background-color:#7accb2;
	text-align:center;
	text-shadow:0 1px 0 #69af98;
	cursor:pointer;
}
.btn,[type="submit"] {
	margin:0 auto 1em;
	padding:1em;
	border:solid 1px #69af98;
	box-shadow:0 0 0 0 rgba(255,165,0,0.2);
}
.btn:hover,[type="submit"]:hover {
	background-color:#75c3aa;
}
.btn:active,[type="submit"]:active {
	box-shadow:inset 0 0 0 2px rgba(255,255,255,.6);
}
.btn.n,[type="submit"].n {
	background-color:#cc5b3d;
	border-color:#af4e34;
	text-shadow:0 1px 0 #af4e34;
}
.btn.n:hover,[type="submit"].n:hover {
	background-color:#c3563a;
}
.il,.il+* {
	display:inline-block;
	margin:0;
	width:calc(50% - 8px);
}
.il {
	margin-right:16px;
}
input[type="checkbox"],input[type="radio"] {
	margin:5px 6px -1px 0;
	height:13px;
	width:13px;
	background-image:url('img/s.svg');
	outline:none!important;
}
input[type="checkbox"]:hover,input[type="radio"]:hover {
	background-position:-14px 0;
}
input[type="checkbox"]:active,input[type="radio"]:active {
	background-position:-28px 0;
}
input[type="checkbox"]:checked {
	background-position:0 -14px;
}
input[type="checkbox"]:checked:hover {
	background-position:-14px -14px;
}
input[type="checkbox"]:checked:active {
	background-position:-28px -14px;
}
input[type="radio"] {
	background-position:0 -28px;
}
input[type="radio"]:hover {
	background-position:-14px -28px;
}
input[type="radio"]:active {
	background-position:-28px -28px;
}
input[type="radio"]:checked {
	background-position:0 -42px;
}
input[type="radio"]:checked:hover {
	background-position:-14px -42px;
}
input[type="radio"]:checked:active {
	background-position:-28px -42px;
}
.submit-inline {
	float:left;
	width:calc(100% - 72px)!important;
	border-right:none!important;
}
input.submit-inline+* {
	padding:0!important;
	width:72px!important;
	height:26px;
}
.submit-inline+*:after {
	content:"";
	display:block;
	clear:both;
}
code {
	padding:2px;
	background-color:#e0e0e0;
	color:#23383B;
	font-family:source code pro,consolas,lucida console,monospace;
}
table {
	margin:0 -32px;
	width:calc(100% + 64px);
	border-collapse:collapse;
}
table:nth-child(2) {
	margin-top:-16px;
}
table td:first-child {
	padding-left:32px;
}
table td:last-child {
	padding-right:32px;
}
table * {
	padding:2px;
}
thead td {
	padding:4px;
	background-color:#ebebeb;
	font-weight:600;
}
.micro td {
	padding:2px 10px;
}
.micro tr:not(:first-child) {
	border-top:solid 1px #ccc;
}
.micro td:first-child {
	border-right:solid 1px #ccc;
	text-align:right;
}
ul.no-b {
	list-style:none;
	padding-left:0;
}
.striped li {
	margin:0 -32px;
	padding:4px 32px;
}
.striped li:nth-child(2n),tbody>tr:nth-child(2n) {
	background-color:#f4f4f4;
}
.striped li div {
	margin:-4px -8px;
	padding:8px;
	float:right;
	width:8px;
	height:8px;
	opacity:0;
	background-image:url("img/s.svg");
	background-clip:content-box;
	background-position:-14px -53px;
	cursor:pointer;
}
.striped li:hover div {
	opacity:.7;
}
.striped li div:hover {
	opacity:1;
}
.classy {
	margin:12px 0 0;
	padding:10px 0;
	font-family:Georgia,serif;
	font-size:24pt;
	text-align:center;
	font-style:italic;
	color:rgba(0,0,0,.2);
}
.classy:before {
	content:"#";
}
.indent {
	padding-left:20px;
}
.tb-set {
	display:block;
	margin:-16px -32px 32px;
	padding:0 32px!important;
	border-width:0 0 1px;
}
.tb-set:after {
	content:"";
	display:block;
	clear:both;
}
.tb-set li {
	display:inline-block;
	margin-right:16px;
	padding:2px 16px;
	border-width:1px 1px 0;
	background-color:#ebebeb;
	box-shadow:inset 0 -2px 0 0 rgba(0,0,0,.04);
	font-size:80%;
	cursor:pointer;
}
.tb-set li:hover {
	box-shadow:inset 0 0 0 0 rgba(0,0,0,.04);
	background-color:#f4f4f4;
}
li.tb-sel {
	background-color:#fafafa!important;
	box-shadow:0 2px 0 -1px #fafafa!important;
}

/* being (a bit) responsive */
@media only screen and (max-device-width=700px) {
	* {
		-webkit-appearance:none;
		appearance:none;
	}
	body>div>div {
		width:100%;
	}
}
