/* Containers and help */
body > div {
	width:366px;
	padding:0 32px 29px;
}
#board {
	width:300px;
	height:300px;
	background-color:#141414;
	overflow:hidden;
}
#help {
	width:100%;
	height:100%;
	position:relative;
	margin:0;
	padding:16px;
	z-index:2;
	box-sizing:border-box;
	background-color:rgba(0,0,0,.8);
	color:#e3e3e3;
	text-align:left;
	line-height:150%;
	transition:all ease-in-out 0.4s;
	-webkit-transition:all ease-in-out 0.4s;
	-moz-transition:all ease-in-out 0.4s;
	-o-transition:all ease-in-out 0.4s;
}
#help #title {
	font-size:12pt;
}
#help #pink {
	color:#FF0088;
}
#help #red {
	color:#EB1915;
}
#help #gold {
	color:#F5C400;
}
#help #gobble {
	color:#28B2D1;
}
#help span#ver {
	position:absolute;
	bottom:13px;
	display:block;
	font-size:8pt;
	line-height:110%;
	color:#a3a3a3;
}
/* Game */
#game {
	position:absolute;
	top:178px;
	width:300px;
	height:300px;
	overflow:hidden;
}
.entity {
	height:20px;
	width:20px;
	top:-20px;
	position:absolute;
	color:rgba(0,0,0,0);
	transition:box-shadow cubic-bezier(0,0,.3,.99) .2s;
	-webkit-transition:box-shadow cubic-bezier(0,0,.3,.99) .2s;
	-moz-transition:box-shadow cubic-bezier(0,0,.3,.99) .2s;
	-o-transition:box-shadow cubic-bezier(0,0,.3,.99) .2s;
}
#rasp0 {
	box-shadow:0 0 0 0px rgba(255,0,136,1);
	background-color:#FF0088;
}
#rasp1 {
	box-shadow:0 0 0 0px rgba(255,0,136,1);
	background-color:#FF0088;
}
#straw {
	/*box-shadow:inset 0 0 0 0px #000, 0 0 0 0px #FF0088;*/
	background-color:#EB1915;
}
#golden {
	/*box-shadow:inset 0 0 0 0px #000, 0 0 0 0px #FF0088;*/
	background-color:#F5C400;
}
#gm {
	background-color:#28B2D1;
	top:140px;
	left:140px;
	opacity:0;
	transition:all cubic-bezier(0,0,.3,.99) .2s;
	-webkit-transition:all cubic-bezier(0,0,.3,.99) .2s;
	-moz-transition:all cubic-bezier(0,0,.3,.99) .2s;
	-o-transition:all cubic-bezier(0,0,.3,.99) .2s;
}
/* Below board */
.stat {
	text-align:left;
	margin:16px 0;
	float:left;
	width:50%;
}
#toggle-help {
	text-align:right;
}
footer {
	height:31px;
}